[Unit]
Description=RabbitMQ broker
After=network.target

[Service]
WorkingDirectory=/usr/local/rabbitmq
ExecStart=/usr/local/rabbitmq/sbin/rabbitmq-server
ExecStop=/usr/local/rabbitmq/sbin/rabbitmqctl shutdown
User=rabbitmq
Group=rabbitmq
Restart=always
RestartSec=10
 
[Install]
WantedBy=multi-user.target