[Unit]
Description=zookeeperservice
After=network.target

[Service]
WorkingDirectory=/home/data/zookeeper
ExecStart=/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties
ExecStop=/usr/local/kafka/bin/zookeeper-server-start.sh stop
User=kafka
Group=kafka
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target