[Desktop Entry]
Name=Apifox
Exec=/opt/apifox/apifox %U
Terminal=false
Type=Application
Icon=/opt/apifox/resources/app/dist/assets/logo.png
StartupWMClass=Apifox
Comment=Apifox = Postman + Swagger + Mock
Categories=devtool;
