[Desktop Entry]
Name=Elasticsearch
Comment=search devbase/database
Exec=sh /opt/ubdevenv/control/elasticsearch_start.sh
Icon=/opt/ubdevenv/icon/elasticsearch.svg
Type=Application
Terminal=true
Categories=service;fulltext
Keywords=Elasticsearch;elasticsearch;ES;es;