[Desktop Entry]
Name=FFmpeg
Comment=A complete, cross-platform solution to record, convert and stream audio and video.
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/start/ffmpeg_start.sh"
Icon=/opt/ubdevenv/icon/ffmpeg.svg
Type=Application
Terminal=true
Categories=tool
Keywords=ffmpeg;FFmpeg