[Desktop Entry]
Name=FFmpeg
Comment=A complete, cross-platform solution to record, convert and stream audio and video.
Exec=/opt/oneinstack/start/ffmpeg_start.sh
Icon=/opt/oneinstack/icon/ffmpeg.svg
Type=Application
Terminal=true
X-KeepTerminal=true
StartupNotify=true
Categories=tool
Keywords=ffmpeg;FFmpeg