[Desktop Entry]
Name=Apache Httpd
Comment=web http server
Exec=sh /opt/oneinstack/start/httpd_start.sh
Icon=/opt/oneinstack/icon/httpd-pb.svg
Type=Application
Terminal=true
Categories=service;web http server
Keywords=Apache Httpd;apache httpd