[Desktop Entry]
Name=jmeter
Comment=Apache JMeter may be used to test performance both on static and dynamic resources, Web dynamic applications.
Exec=/opt/jmeter/bin/jmeter
Icon=/opt/jmeter/docs/images/jmeter_square.png
Type=Application
Categories=Development;
Keywords=jmeter;