[Desktop Entry]
Name=Apache Kafka
Comment=message queue
Exec=sh /opt/oneinstack/start/kafka_start.sh
Icon=/opt/oneinstack/icon/apachekafka.svg
Type=Application
Terminal=true
Categories=service;message queue
Keywords=Kafka