[Desktop Entry]
Name=Kibana
Comment=elastic stack gui
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/kibana_start.sh"
Icon=/opt/ubdevenv/icon/kibana.svg
Type=Application
Terminal=true
Categories=service;tool
Keywords=kibana