[Desktop Entry]
Name=LAMP
Comment=PHP Web Environment 
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/lamp_start.sh"
Icon=/opt/ubdevenv/icon/lamp.svg
Type=Application
Terminal=true
Categories=service;php web;
Keywords=LAMP;lamp