[Desktop Entry]
Name=LAMP
Comment=PHP Web Environment 
Exec=sh /opt/oneinstack/start/lamp_start.sh
Icon=/opt/oneinstack/icon/lamp.png
Type=Application
Terminal=true
Categories=service;php web;
Keywords=LAMP;lamp