[Desktop Entry]
Name=LNMP
Comment=PHP Web Environment
Exec=sh /opt/oneinstack/start/lnmp_start.sh
Icon=/opt/oneinstack/icon/lnmp.jpeg
Type=Service
Terminal=true
Categories=Development;PHP Web;
Keywords=LNMP;lnmp