[Desktop Entry]
Name=LNMP
Comment=PHP Web Environment
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/lnmp_start.sh"
Icon=/opt/ubdevenv/icon/lnmp.svg
Type=Application
Terminal=true
Categories=service;php web;
Keywords=LNMP;lnmp