[Desktop Entry]
Name=Logstash
Comment=elastic stack data
Exec=sh /opt/ubdevenv/control/logstash_start.sh
Icon=/opt/ubdevenv/icon/logstash.svg
Type=Application
Terminal=true
Categories=service;tool
Keywords=logstash