[Desktop Entry]
Name=Memcached
Comment=Memcached is an in-memory key-value store
Exec=sh /opt/ubdevenv/start/memcached_start.sh
Icon=/opt/ubdevenv/icon/memcached.svg
Type=Application
Terminal=true
Categories=service;cache
Keywords=Memcached;memcached