[Desktop Entry]
Name=Mongodb
Comment=document devbase/database
Exec=sh /opt/ubdevenv/start/mongodb_start.sh
Icon=/opt/ubdevenv/icon/mongodb.svg
Type=Application
Terminal=true
Categories=service;nosql devbase/database
Keywords=mongodb;Mongodb