[Desktop Entry]
Name=Mysql
Comment=relation database
Exec=sh /opt/oneinstack/start/mysql_start.sh
Icon=/opt/oneinstack/icon/mysql.jpeg
Type=Application
Terminal=true
Categories=Development;Mysql;
Keywords=Mysql;mysql