[Desktop Entry]
Name=Mysql
Comment=relation devbase/database
Exec=sh /opt/ubdevenv/control/mysql_start.sh
Icon=/opt/ubdevenv/icon/mysql.svg
Type=Application
Terminal=true
Categories=service;devbase/database
Keywords=Mysql;mysql