[Desktop Entry]
Name=Navicat Premium
Comment=Database Manager Tools
Exec=/opt/navicat/navicat-premium-cs.AppImage
Icon=/opt/navicat/navicat.svg
Type=Application
Categories=Development;Database Tools;
Keywords=navicat;