[Desktop Entry]
Name=Navicat Premium
Comment=Database Manager Tools
Exec=/opt/navicat/navicat15-premium-cs.AppImage
Icon=/opt/navicat/navicat.png
Type=Application
Categories=Development;Database Tools;
Keywords=navicat;