[Desktop Entry]
Name=Nginx
Comment=Web http server
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/nginx_start.sh"
Icon=/opt/ubdevenv/icon/nginx.svg
Type=Application
Terminal=true
Categories=service;web http server
Keywords=Nginx;nginx