[Desktop Entry]
Name=Openrestry
Comment=Web http server
Exec=sh /opt/oneinstack/start/nginx_start.sh
Icon=/opt/oneinstack/icon/openresty.png
Type=Application
Terminal=true
Categories=service;web http server
Keywords=openrestry