[Desktop Entry]
Name=Openrestry
Comment=Web http server
Exec=sh /opt/ubdevenv/control/nginx_start.sh
Icon=/opt/ubdevenv/icon/openresty.svg
Type=Application
Terminal=true
Categories=service;web http server
Keywords=openrestry