[Desktop Entry]
Name=Openrestry
Comment=Web http server
Exec=sh /opt/oneinstack/start/nginx_start.sh
Icon=/opt/oneinstack/icon/openrestry.png
Type=Application
Categories=Development;Web Server;
Keywords=Nginx;Openrestry;openrestry;