[Desktop Entry]
Name=Aliyun Oss Browser
Comment=Aliyun Oss tools
Exec=/opt/oss-browser/oss-browser
Icon=/opt/oss-browser/resources/custom/icon.png
Type=Application
Categories=devtool;oss browser
Keywords=oss browser