[Desktop Entry]
Name=Php Fpm
Comment=relation database
Exec=sh /opt/oneinstack/start/php-fpm_start.sh
Icon=/opt/oneinstack/icon/php.svg
Type=Application
Terminal=true
Categories=service;php web
Keywords=phpfpm