[Desktop Entry]
Name=Php Fpm
Comment=relation devbase/database
Exec=sh /opt/ubdevenv/start/php-fpm_start.sh
Icon=/opt/ubdevenv/icon/php.svg
Type=Application
Terminal=true
Categories=service;php web
Keywords=phpfpm