[Desktop Entry]
Name=PostgreSql
Comment=relation devbase/database
Exec=sh /opt/ubdevenv/start/postgresql_start.sh
Icon=/opt/ubdevenv/icon/postgresql.svg
Type=Application
Terminal=true
Categories=service;devbase/database
Keywords=postgresql