[Desktop Entry]
Name=Pure Ftpd
Comment=ftp server
Exec=sh /opt/oneinstack/start/pure-ftpd_start.sh
Icon=/opt/oneinstack/icon/pure-ftpd.png
Type=Application
Terminal=true
Categories=Development;
Keywords=pureftpd;