[Desktop Entry]
Name=Pure Ftpd
Comment=ftp server
Exec=sh /opt/ubdevenv/start/pure-ftpd_start.sh
Icon=/opt/ubdevenv/icon/ftpserver.svg
Type=Application
Terminal=true
Categories=service
Keywords=pureftpd