[Desktop Entry]
Name=Rabbitmq
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/rabbitmq_start.sh"
Type=Application
Terminal=true
Icon=/opt/ubdevenv/icon/rabbitmq.svg
StartupWMClass=Rabbitmq
Comment=message queue
Categories=service;message queue
