[Desktop Entry]
Name=Rabbitmq
Exec=sh /opt/oneinstack/start/rabbitmq_start.sh %U
Type=Application
Terminal=true
Icon=/opt/oneinstack/icon/rabbitmq.svg
StartupWMClass=Rabbitmq
Comment=message queue
Categories=Development;
