[Desktop Entry]
Name=Rabbitmq
Exec=sh /opt/ubdevenv/control/rabbitmq_start.sh %U
Type=Application
Terminal=true
Icon=/opt/ubdevenv/icon/rabbitmq.svg
StartupWMClass=Rabbitmq
Comment=message queue
Categories=service;message queue
