[Desktop Entry]
Name=Rocketmq
Exec=sh /opt/ubdevenv/start/rocketmq_start.sh %U
Type=Application
Terminal=true
Icon=/opt/ubdevenv/icon/apacherocketmq.svg
StartupWMClass=Rocketmq
Comment=message queue
Categories=service;message queue
