[Desktop Entry]
Name=Runapi
Comment=showdoc runapi client
Exec=/opt/runapi/runapi.AppImage
Icon=/opt/runapi/runapi.png
Type=Application
Categories=Development;Api;
Keywords=runapi;