[Desktop Entry]
Name=Sqlite
Comment=relation devbase/database
Exec=sh /opt/ubdevenv/control/sqlite_start.sh
Icon=/opt/ubdevenv/icon/sqlite.svg
Type=Application
Terminal=true
Categories=service;devbase/database
Keywords=Sqlite;sqlite