[Desktop Entry]
Name=StopAllService
Comment=Develop Environment 
Exec=gnome-terminal -- /bin/bash -c "/opt/ubdevenv/control/stop_all.sh"
Icon=/opt/ubdevenv/icon/stop-all.svg
Type=Application
Terminal=true
Categories=shelltool