[Desktop Entry]
Name=StopAllService
Comment=Develop Environment 
Exec=sh /opt/oneinstack/start/stop_all.sh
Icon=/opt/oneinstack/icon/stop-all.svg
Type=Application
Terminal=true
Categories=shelltool