[Desktop Entry]
Name=Supervisord
Comment=进程管理工具
Exec=sh /opt/ubdevenv/start/supervisord_start.sh
Icon=/opt/ubdevenv/icon/supervisord.svg
Type=Application
Terminal=true
Categories=service
Keywords=supervisord