[Desktop Entry]
Name=Supervisord
Comment=进程管理工具
Exec=sh /opt/oneinstack/start/supervisord_start.sh
Icon=/opt/oneinstack/icon/supervisord.png
Type=Application
Categories=Development;
Keywords=Supervisord;supervisord;