[Desktop Entry]
Name=tomcat
Comment=web server
Exec=sh /opt/oneinstack/start/tomcat_start.sh
Icon=/opt/oneinstack/icon/apachetomcat.svg
Type=Application
Terminal=true
Categories=Development;
Keywords=tomcat;tomcat;