[Desktop Entry]
Name=Apache Zookeeper
Comment=zookeeper in kafka
Exec=sh /opt/ubdevenv/start/kafka_zookeeeper_start.sh
Icon=/opt/ubdevenv/icon/zookeeper.svg
Type=Application
Terminal=true
Categories=service
Keywords=zookeeper