[Desktop Entry]
Name=zookeeper
Comment=zookeeper in kafka
Exec=sh /opt/oneinstack/start/kafka_zookeeeper_start.sh
Icon=/opt/oneinstack/icon/zookeepe.png
Type=Service
Terminal=true
Categories=Development;
Keywords=zookeeper